body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(105, 105, 105);
}

#signinButton{
    margin-top:10px;
    font-size:14pt;
    width: 80px;
    height: auto;
}

#signupButton{
    margin-top:10px;
    font-size:14pt;
    width: 95px;
    height: auto;
}

#signinButton:hover{
    cursor:pointer;
}

#signupButton:hover{
    cursor:pointer;
}

#linkBurzunildo{
    margin:10px;
    font-size: 10pt;
    color:black;
}